@media only screen and (min-width: 480px) {
    footer{
        display: flex;
        justify-content: space-evenly;
    }
    .picture_contenair{
        display: flex;

    }
}


@media only screen and (min-width : 1200px) {

}