.debug{
    border: solid red 2px;
    width: 100%;
}
/*css carrousel*/
.mySlides {
    display: none;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container img {
    vertical-align: middle;
    max-width: 100%;
    height: 300px;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*css galerie*/
.button_gallery_contenair {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.gallery-button{
    background-color: rgb(214,218,255, 0.7);
    max-width: 60px;
    max-height: 60px;
    z-index: 1;
    border-radius: 10px;
    border: none;
}
#gallery {
    width: auto;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}
#gallery img {
    max-width: 200px;
    height: 200px;
    margin: 10px;
}
#gallery.mosaic-view {
    flex-direction: row;
}
#gallery.column-view {
    flex-direction: column;
}
#gallery.column-view img {
    flex-direction: column;
    margin: 10px auto;
}