.debug{
    border: solid red 2px;
    width: 100%;
}
.carousel_contenair{
    border: solid black 2px;
}
.button_gallery_contenair {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.gallery-button{
    background-color: rgb(214,218,255, 0.7);
    max-width: 60px;
    max-height: 60px;
    z-index: 1;
    border-radius: 10px;
    border: none;
}
#gallery {
    width: auto;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}
#gallery img {
    max-width: 200px;
    height: 200px;
    margin: 10px;
}
#gallery.mosaic-view {
    flex-direction: row;
}
#gallery.column-view {
    flex-direction: column;
}
#gallery.column-view img {
    flex-direction: column;
    margin: 10px auto;
}